<mat-toolbar color="primary" class="top-bar">
  <a routerLink="/" class="top-bar__link">
    <h2>Pokemon</h2>
  </a>

  <a routerLink="favorite" class="tob-bar__link">
      <mat-icon  class="tob-bar__fav-icon" matBadge="2" matBadgeColor="accent">favorite</mat-icon>
  </a>
  <input  class='top-bar__text-search'[formControl]='searchControl' type="text" name='txtSearch' placeholder="Scrivi per cercare">
</mat-toolbar>






















<!-- <select [formControl]="select"  name="" id="" >
  <option  value="1">Select Type</option>
  <option  value="2">2</option>
  <option  value="3">3</option>
</select> -->
